.selected {
    width: 100%;
    background-color: transparent;
    color: #000080;
    border: none;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: darkgoldenrod;
    font-weight: bold;
    font-size: x-large;
}
.activeobj {
    width: 100%;
    background-color: transparent;
    color: #000080;
    border: none;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: darkgoldenrod;
    font-weight: bold;
    font-size: x-large;
}
button:focus {
    outline:0;
}
#Dropdown {
    position: absolute;
    top: 50px;
    z-index: 10;
    width: 32%
}
.Dropdown-Instance-Search {
}
.Dropdown-Instance-Booking {
}
.Dropdown-Instance-Account {
}
.Dropdown-Button:hover {
   color: #000080;
   background-color: #2B65EC;
   cursor: pointer;
}
.Dropdown-Button {
    width: 100%;
    background-color: #000080;
    color: #8E35EF;
    border-color: darkgoldenrod;
    font-size: x-large;
    height: 50px;
}
